.button{
    font-size: 1.2em;
    padding: 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 02s ease;
    color: #FFFFFF;
}

.button:hover{
    opacity: 0.9;
}

.clear{
    background-color:#f34034;;
}

.operator{
    background-color: #ff9800;
}

.equal{
    grid-column: span 2;
    background-color: #4caf50;
}

.button:not(.clear):not(.operator):not(.equal){
    background-color: #444444;
}